.spin-once {
  animation: spinOnce 1s linear;
}

.rocket-fly {
  animation: rocket-fly 5s linear;
}

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rocket-fly {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-200vh);
  }
}

.planet {
  animation: planet 20s linear infinite;
  transform-origin: center;
}

@keyframes planet {
  0% {
    transform: rotate(0deg) translate(-450px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-450px) rotate(-360deg);
  }
}

@keyframes ufo {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translateX(calc(100vw - 200px));
  }
  100% {
    transform: translatex(0px);
  }
}

.ufo {
  animation: ufo 30s linear infinite;
  transform-origin: left;
  animation-play-state: running;
  pointer-events: none;
}

.paused {
  animation-play-state: paused;
}

@keyframes planet2 {
  0% {
    transform: rotate(90deg) translateX(80vh) rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg) translateX(80vh) rotate(90deg);
  }
}

.planet2 {
  animation: planet2 15s linear infinite;
  transform-origin: center;
}
